@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Amatic+SC&display=swap');
h1 {
  color: red;
  font-family: 'Fredericka the Great', cursive;
  font-size: 7rem;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.canvas {
  float:left;
  border: 8px solid;
  border-radius: 10px;
  cursor: crosshair;
}

.button {
  margin:20px;
}

#reset-score{
  margin-top: 25px;
}

.flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 7rem;
}

#result {
  font-size: 2.5rem;
}

.performance-data {
  margin-top: 25px;
}

#percentage-correct {
  font-size: 2rem;
}
