<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AJAK</title>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.0.0/fabric.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  </head>
  <body>
    <h1> AJAK's first Flask app</h1>
    <p> Machine Learning is Fun </p>
    <p>Draw a</p>
    <ul>
    <li>Camera</li>
    <li>Crown</li>
    <li>Rabbit</li>
    </ul>

    <canvas id="canvas" width="280" height="280" class="canvas"></canvas>
    <button type="button" id="clear-canvas" class="clear-button">Clear</button>
    <button id="predictButton" type="button">Predict</button>
    <span id="result"></span>

    </br>
    <p>Was this correct?</p>
    <button onclick="correctCounter()">Yes</button>
    <button onclick="incorrectCounter()">No</button>

    <p>Total atttempts: </p><span id="totalAttempts"></span>
    <p>Correct atttempts:</p><span id="correctAttempts"></span> 
    <p>% Correctly guessed: </p> <span id="percentageCorrect"></span>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="../static/js/draw.js"></script>
    <script src="../static/js/script.js"></script>

  </body>
</html>
